@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

body {
  background: #7fa1eb;
  color: whitesmoke;
  font-family: "Nunito";
}
.dark{
  background-color: black;
  color:white;
  margin-left: 2rem;
  border-radius: 10px;
}
 #dark-mode {
  background-color: #777;
  color:rgb(27, 226, 209);
  width: 100%;
  max-height: 100vh;
  padding:1rem;
  margin:auto;
  border-radius: 1rem;
}
a {
  color: #333;
  text-decoration: none;
}
.content {
  max-width: 960px;
  margin: 0 auto;
}
nav {
  margin: 10px auto 80px;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid #ddd;
}
nav a {
  margin-left: 12px;
}
nav .logo {
  margin-right: auto;
  
}
footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  color: #777;
  border-top: 1px solid #eaeaea;
}

.not-found{
  text-align: center;
}
.not-found a{
color:red;
text-decoration: underline;
}